node_modules
.pnpm-store
.pnpm-home
.next
.wrangler
.turbo
dist
coverage
*.tsbuildinfo
.DS_Store

.env
.env.local
.env.*.local
apps/api/.dev.vars

.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
