node_modules
.husky/_
.next
.nuxt
.output
.wrangler
.turbo
dist
coverage
*.tsbuildinfo
.DS_Store
.direnv/

.env
.env.local
.env.*.local
apps/api/.dev.vars

.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
